/* Start Components in Website */
.btn{
    background-color: var(--main-color);
    color:var(--black-color);
    border-radius: 15px;
    padding: 10px 20px;
}
/* End Components in website */
.header{
    background-size: cover;
    color: white;
    position: absolute;
    left: 0;
    width: 100%;
    z-index: 9;
    height: 90px;
    overflow: hidden;
}
.header nav{
    padding: 20px;
}
.header nav .container{
    display: flex;
    align-items: center;
    justify-content:space-between;
}
header .sign-btns a:first-child{
    color: white;
    padding: 0px 17px;
}
.links-navbar{
    display: flex;
    align-items: center;
    width: 100%;
}
header nav .links>ul >li{
    padding: 0px 20px;
}
@media (max-width: 990px){
    header nav .links{
        display: none;
    }
}

header nav .links ul > li> a{
    color: white;
    font-family: 'Larsseit-Light';
    font-weight: 100;
}
header nav .links ul > li > a i{
    padding-left: 5px;
}
header .navbar-logo img{
    width: 140px;
}
.dropdown{
    position: relative;
    display: inline-block;
}
.dropdown .dropdown-menu{
    display: none;
    position: absolute;
    min-width: 125px;
    padding: 4px 8px;
    z-index: 10;
    background-color: rgba(255, 255, 255, 0.028);
    backdrop-filter: blur(10px);
    left: 20px;
    transition: all 1s;
}
.dropdown .dropdown-menu li{
    margin: 0;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.dropdown:hover ul{
    display: block;
}
@media (max-width: 767px){
    header .navbar-logo img{
        width: 100px;
    }
    header nav .sign-btns{
        display: none;
    }
    header nav .sign-btns{
        display: none;
    }
}
/* Start Style to Landing */
.landing{
    min-height: 100vh;
    background-color: #1f2021;
    background-image: url("../img/background-website.png");
    background-size: cover;
    position: relative;
    padding: 20px 0px;
}
.landing .container .box-content{
    display: flex;
    justify-content: space-between;
    color: white;
    position:relative;
    top: 90px;
}

.landing .container .left-box{
    width: 60%;
    padding: 60px 0px 0px;
}
.landing .container .left-box h1{
    font-size: 60px;
}
.landing .container .left-box p{
    font-family: 'Larsseit-Thin';
    width: 61%;
    line-height: 1.8;
}
.landing .container .app-btns{
    position: relative;
    top: 0;
    left: 0;
    transform: translateY(-120px);
    width: auto;
    margin-top: 60px;
}
.landing .container .app-btns .os-btn{
    display: flex;
    margin-top: 30px;
}
.landing .container .app-btns .os-btn .app-btn{
    color: white;
    border-radius: 10px;
    border: 2px solid white;
    margin: 0;
    min-width: 170px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    transition: background-color 0.3s;
}
.landing .container .app-btns .os-btn .app-btn:hover {
    background-color:white
}
.landing .container .app-btns .os-btn .app-btn:hover .content ,
 .landing .container .app-btns .os-btn .app-btn:hover i{
    color:var(--text-color);
}
.landing .container .app-btns .os-btn .app-btn:last-child{
    margin-left: 10px;
}
.landing .container .app-btns .os-btn .app-btn .icon{
    margin-right: 10px;
}
.landing .container .app-btns .os-btn .app-btn .content{
    width: 100%;
}
.landing .container .app-btns .os-btn .app-btn .content p{
    margin: 0;
    font-size: 10px;
}
.landing .container .app-btns .os-btn .app-btn .content span{
    margin: 0;
    font-size: 20px;
    letter-spacing:1.6px
}
.landing .container .app-btns .os-btn .app-btn i{
    font-size: 30px;
}
.landing .container .right-box{
    width: 40%;
    position: relative;
    top: 80px;
}
.landing .container .right-box img{
    width: 400px;
    object-fit: cover;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.landing .container .rating{
    align-items: center;
    min-width: 320px;
    display:flex;
    margin: 40px 0 0 ;
}
.landing .container .rating p{
    color: white !important;
}
.landing .container .rating span{
    color: var(--main-color);
}
.landing .container .rating .group-rate{

}
.landing .container .rating .group-rate i{  
    color: var(--yellow-color);
    margin: 0px 5px;
    font-size: 18px;
}
@media (max-width: 767px){
    .landing{
        min-height: 100vh;
    }
    .landing .container .box-content{
        flex-direction: column;
    }
    .landing .container .left-box ,
    .landing .container .right-box{
        width: 100%;
    }
    .landing .container .left-box{
        padding: 0;
        text-align: center;
    }
    .landing .container .left-box h1{
        font-size: 45px;
    }
    .landing .container .left-box p{
        width: 100%;
        font-size: 15px;
    }
    .landing .container .left-box .group-rate{
        width: 200px;
    }
    .landing .container .left-box .os-btn {
        justify-content: center;
    }
    .landing .container .right-box{
        height: 486px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: static;
        margin: 0px;
        display: block;
    }
    .landing .container .right-box img{
        width: 300px;
    }
}
/* start section Two */
.transaction-section{
    padding: 100px 0px;
    background-color: var(--gray-color);
    display: none;
}
.transaction-section .section-title{
    text-align: center;
    margin-bottom: 80px;
}
.transaction-section .section-title h2{
    font-size: 42px;
    margin-bottom: 20px;
    color: var(--text-color); 
}
.transaction-section .section-title p{
    color: rgb(160, 160, 160);
    padding: 0px;
    font-size: 16px;
    margin: 0px;
}
.transaction-section .container .cards{
    display: flex;
}
.transaction-section .container .cards .card{
    width: 25%;
    height:300px;
    padding: 20px;
    background-color:var();
    margin-left: 20px;
    display:flex;
    flex-direction: column;
    justify-items: center;
    background-color: var(--light-color);
    border-radius:20px;
}
.transaction-section .container .cards .card .icon-money i{
    font-size: 30px;
    padding: 10px 0px;
    color: var(--main-color);
}
.transaction-section .container .cards .card .text-card{
    
}
.transaction-section .container .cards .card .text-card h4{
    padding: 10px 0px;
    font-size: 21px;
}
.transaction-section .container .cards .card .text-card p{
    color: gray;
    line-height: 1.8;
}
@media (max-width:780px){
    .transaction-section .container .cards{
        flex-direction: column;
    }
    .transaction-section .container .cards .card{
        width: 100%;
    }

}